* {
  box-sizing: border-box;
}




body {
  margin: 10;
  }
/* Style the header */
.header {
  background-color: #A6B7F7;
  padding: 20px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #A6B7F7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Create three equal columsn that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}


